{
  "$schema": "https://json.schemastore.org/replit.json",
  "run": "npm run dev",
  "entrypoint": "src/main.tsx",
  "modules": [
    "nodejs-22",
    "typescript-language-server",
    "vite"
  ],
  "hidden": [
    ".replit",
    ".git",
    "node_modules",
    "package-lock.json"
  ],
  "ports": [
    {
      "localPort": 5173,
      "publicPort": 80,
      "routingMode": "OFFDB"
    }
  ]
}